body {
    margin: 2px 50px;
    background-color: black;
    background-size: cover;
    text-align: center;
    font-family: fantasy;
}
.head {
    display: flex;
    justify-content: space-around;
}
h1 {
    color: #dddddd;
    font-size: 55px;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
    letter-spacing: 0.1em;
    margin-top: 60px;
}
.explain {
    margin-top: 120px;
    color: #214252;
    font-size: 40px;
}
#start-button {
    padding: 20px;
    font-size: 40px;
    border-radius: 8px;
    position: relative;
    bottom: -240px;
    margin: auto;
    background-color: transparent;
    color: #214252;
    box-shadow: inset 0px 0px 20px -6px rgba(97, 89, 97, 1); 
    font-family: fantasy;
    letter-spacing: 0.1em;
    text-shadow: 1px 0 0 #dddddd,
    -1px 0 0 #dddddd,
    0 1px 0 #dddddd,
    0 -1px 0#dddddd,
    1px 1px #dddddd,
    -1px -1px 0 #dddddd,
    1px -1px 0 #dddddd,
    -1px 1px 0 #dddddd;
}
#start-button:hover {
        padding: 25px;
        cursor: pointer;
        box-shadow: inset 0px 0px 25px -8px rgba(97, 89, 97, 1);
}
#game-board {
    width: 600px;
    height: 600px;
    padding: 20px 20px;
    margin: 0px 20px;
    border-radius: 40px;
    box-shadow: inset 0px 0px 20px -6px rgba(97, 89, 97, 1);
}
.level {
    font-family: fantasy;
    letter-spacing: 0.1em;
    background-color:#214252;
    border-radius: 8px;
    font-family: Arial;
    width: 180px;
    padding: 5px 5px;
    margin-top: 15px;
    color:#dddddd;
}
#level {
    font-size: 19px;
}
#score-div {
    font-family: fantasy;
    letter-spacing: 0.1em;
    background-color:#dddddd; 
    border-radius: 8px;
    font-family: Arial;
    width: 180px;
    padding: 10px 5px;
    margin-top: 160px;
    color: #214252;
}
.score-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 18px;
}
.pairs {
    line-height: 30px;
    font-size: 17px;
     margin-top: 10px;
     margin-bottom: 10px;
}

.penalty {
    margin-bottom: 2px;
    margin-top: 10px;
    text-align: right;
    padding-right: 19px;
    color: red;
    font-size: 25px;
}
.penalty-explain {
    font-size: 15px;
    letter-spacing: 0em;
    padding-right: 6px;
}

#next-level {
    font-size: 50px;
    color: #214252;
    text-align: center;
    letter-spacing: 0.1em;
    position: relative;
    top: 105px;
}
.number {
    font-size: 60px;
    color: #dddddd;
    text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
}
#you-won {
    font-size: 60px;
    color: #00FF00;
    text-shadow: 0px 0px 20px #2BFF00;
}
#you-won {
   text-align: center;
   letter-spacing: 0.1em;
   position: relative;
   top: 105px;
   align-items: center;
   margin: auto;
}
#game-over {
    font-size: 60px;
    color: red;
    text-align: center; 
    position: relative;
    top: 190px;  
    letter-spacing: 0.1em;
    text-shadow: 2px 0 0 #dddddd,
    -2px 0 0 #dddddd,
    0 2px 0 #dddddd,
    0 -2px 0#dddddd,
    2px 2px #dddddd,
    -2px -2px 0 #dddddd,
    2px -2px 0 #dddddd,
    -2px 2px 0 #dddddd;
}

#github-link {
    text-align: right;
    position: relative;
    left: -30px; 
    bottom: 35px;
    font-size: 11px;
    color: #214252;
}
#open-src {
    color: #dddddd;
    text-decoration: none;
}

